@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
.box{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.photo{
    width: 55%;
    border-radius: 100%;
    outline: .28vw solid white;
    outline-offset: -.52vw;
}
.name{
    width: 100%;
    height: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: .65vw;
    line-height: 200%;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000000;
    order: 0;
    flex-grow: 0;
}
/* .vector{
    background-color:#5624D0;
    padding-bottom: 0;
} */