@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.heading{
    font-family: "Poppins";
    color: #5624D0;
    font-size: .9vw;
    width: 90%;
    margin-bottom: .5%;
    align-items:flex-start;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topimg{
    /* background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.5) 51.04%, #000000 100%); */
    /* opacity: 0.3; */
    border-radius: 48px;
    max-width: 100%;
    background-image: url("https://images.unsplash.com/photo-1665686310974-2ed1eb7f57ac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    height: 35vw;
    width: 70%;
}